@import "tailwindcss";

@utility bg-color{
    background-image: linear-gradient(306deg, rgba(54, 54, 54, 0.05) 0%, rgba(54, 54, 54, 0.05) 33.333%,rgba(85, 85, 85, 0.05) 33.333%, rgba(85, 85, 85, 0.05) 66.666%,rgba(255, 255, 255, 0.05) 66.666%, rgba(255, 255, 255, 0.05) 99.999%),linear-gradient(353deg, rgba(81, 81, 81, 0.05) 0%, rgba(81, 81, 81, 0.05) 33.333%,rgba(238, 238, 238, 0.05) 33.333%, rgba(238, 238, 238, 0.05) 66.666%,rgba(32, 32, 32, 0.05) 66.666%, rgba(32, 32, 32, 0.05) 99.999%),linear-gradient(140deg, rgba(192, 192, 192, 0.05) 0%, rgba(192, 192, 192, 0.05) 33.333%,rgba(109, 109, 109, 0.05) 33.333%, rgba(109, 109, 109, 0.05) 66.666%,rgba(30, 30, 30, 0.05) 66.666%, rgba(30, 30, 30, 0.05) 99.999%),linear-gradient(189deg, rgba(77, 77, 77, 0.05) 0%, rgba(77, 77, 77, 0.05) 33.333%,rgb(45,74,119) 33.333%, rgb(45,74,119) 66.666%,rgb(45,74,119) 66.666%, rgb(45,74,119) 99.999%),linear-gradient(90deg, rgb(45,74,119),rgb(45,74,119));
}

@utility font{
        font-family: "Orbitron",sans-serif;
}


.scrollbar-hide {
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; 
}


@theme{
     --breakpoint-2xl: 100rem;
   
    --color-big-stone-50: #f4f6fb;
    --color-big-stone-100: #e8ecf6;
    --color-big-stone-200: #ccd8eb;
    --color-big-stone-300: #9fb8da;
    --color-big-stone-400: #6b92c5;
    --color-big-stone-500: #4975ae;
    --color-big-stone-600: #375c92;
    --color-big-stone-700: #2d4a77;
    --color-big-stone-800: #294063;
    --color-big-stone-900: #263754;
    --color-big-stone-950: #1b263b;

    --color-link-water: #dbe6f3;

}
