@import "tailwindcss";

@utility bg-color{
    background-image: linear-gradient(45deg, rgba(23, 23, 23, 0.04) 0%, rgba(23, 23, 23, 0.04) 32%,rgba(171, 171, 171, 0.04) 32%, rgba(171, 171, 171, 0.04) 100%),linear-gradient(0deg, rgba(173, 173, 173, 0.04) 0%, rgba(173, 173, 173, 0.04) 40%,rgba(55, 55, 55, 0.04) 40%, rgba(55, 55, 55, 0.04) 100%),linear-gradient(157.5deg, rgba(44, 44, 44, 0.04) 0%, rgba(44, 44, 44, 0.04) 52%,rgba(195, 195, 195, 0.04) 52%, rgba(195, 195, 195, 0.04) 100%),linear-gradient(157.5deg, rgba(203, 203, 203, 0.04) 0%, rgba(203, 203, 203, 0.04) 11%,rgba(89, 89, 89, 0.04) 11%, rgba(89, 89, 89, 0.04) 100%),linear-gradient(90deg, rgb(4,153,195),rgb(173,189,211));
}

@utility font{
        font-family: "Orbitron",sans-serif;
}

.scrollbar-hide {
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; 
}


.highlight {
  animation: highlightWord 5s forwards;
} 

.slideL
{
    visibility: visible;
    animation-name: slideleft ease-out forwards;
    -webkit-animation-name: slideleft;
    animation-duration: 3s;
    -webkit-animation-duration: 3s;
}

.slideR
{
    visibility: visible;
    animation-name: slideright ease-out forwards;
    -webkit-animation-name: slideright;
    animation-duration: 3s;
    -webkit-animation-duration: 3s;
}

.slideD
{
    visibility: visible;
    animation-name: slidedown;
    -webkit-animation-name: slidedown;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
}

@keyframes highlightWord {
  from {
    opacity: 0;
    color: black;
  }
  to {
    opacity: 1;
    color: #00f6ff;
    text-shadow: 0 0 10px #2e2e4d;
  }
}

@keyframes slideleft 
{
  0%{
    transform: translateX(-100px);
    opacity: 0;
  }
  100%
     {
    transform: translateX(0);
    opacity: 1;
  }
  
}

@keyframes slideright 
{
  0%{
    transform: translateX(100px);
    opacity: 0;
  }
  100%
     {
    transform: translateX(0);
    opacity: 1;
  }
}

 @keyframes slidedown
{
    0%{
        opacity: 0;
        transform: translateY(-70%);
    }
    100%
    {
        opacity: 1;
        transform: translateY(0%);
    }
}


@theme{
     --breakpoint-2xl: 100rem;
   
    --color-big-stone-50: #f4f6fb;
    --color-big-stone-100: #e8ecf6;
    --color-big-stone-200: #ccd8eb;
    --color-big-stone-300: #9fb8da;
    --color-big-stone-400: #6b92c5;
    --color-big-stone-500: #4975ae;
    --color-big-stone-600: #375c92;
    --color-big-stone-700: #2d4a77;
    --color-big-stone-800: #294063;
    --color-big-stone-900: #263754;
    --color-big-stone-950: #1b263b;

    --color-link-water: #dbe6f3;
    --inset-shadow-md: inset -1px -1px 2px 2px rgba(0, 0, 0, 0.25); 

}
